<div class="popup" id="popup-city" >
  <div class="popup__content">
    <button class="popup__close" type="button">
      <svg class="popup__close-img" width="20" height="20" >
        <use xlink:href="images/sprite.svg#close-btn"></use>
      </svg>
    </button>
    <span class="popup__title">Ваш город</span>
    <ul class="popup__items">
      <li class="popup__item">
        <button class="popup__btn">Волгоград</button>
      </li>
      <li class="popup__item">
        <button class="popup__btn">Грозный</button>
      </li>
    </ul>
  </div>
</div>