<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__left">
        <a class="logo footer__logo" href="index.html">
          <div class="footer__logo-img">
            <img class="logo__img" src="../images/icon/logo.svg" alt="логотип" width="60" height="48">
          </div>
          <div class="footer__logo-inner">
            <h2 class="footer__title">Айболит</h2>
            <p class="footer__subtitle">ветеринарная клиника</p>
          </div>
        </a>
        <nav class="footer__nav">
          <span class="footer__info">Политика конфиденциальности в отношении обработки персональных данных</span>
          <ul class="footer__menu">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="index.html">Главная</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="products-page.html">Услуги и цены</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="history.html">История компании</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="collective.html">Наши специалисты</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Вакансии</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Реквизиты</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="design.html">Онлайн-оплата</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="doctor-page.html">Отзывы</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="contacts-page.html">Контакты</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Груминг-салон</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Косметика</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="news.html">Новости и акции</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="blog.html">Блог</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__right">
        <div class="footer__shops shops">
          <a class="shops__item" href="https://www.apple.com/app-store/">
            <img class="shops__img" src="../images/icon/app-store.svg" alt="app store" width="138" height="40">
          </a>
          <a class="shops__item" href="https://pay.google.com/">
            <img class="shops__img" src="../images/icon/google-play.png" alt="google play" width="158" height="61">
          </a>
        </div>
        <ul class="social footer__social">
          <li class="social__item">
            <a class="social__link" href="https://www.instagram.com/">
              <svg>
                <use xlink:href="images/sprite.svg#inst"></use>
              </svg>
              <span class="sr-only">ссылка на instagram</span>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://www.facebook.com/">
              <svg>
                <use xlink:href="images/sprite.svg#fb"></use>
              </svg>
              <span class="sr-only">ссылка на facebook</span>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://vk.com/">
              <svg>
                <use xlink:href="images/sprite.svg#vk"></use>
              </svg>
              <span class="sr-only">ссылка на vk</span>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://www.youtube.com/">
              <svg>
                <use xlink:href="images/sprite.svg#youtube"></use>
              </svg>
              <span class="sr-only">ссылка на youtube</span>
            </a>
          </li>
        </ul>
        <div class="footer__emails">
          <a class="footer__email" href="mailto:aibolit34@gmail.com">aibolit@gmail.com</a>
          <a class="footer__email" href="mailto:aibolit34@gmail.com">aibolit34@gmail.com</a>
        </div>
        <div class="footer__text">
          <span>Made with</span>
          <img src="../images/icon/heart.png" alt="эмодзи сердецко">
          <span>from UnitBean</span>
        </div>
      </div>
    </div>
  </div>
</footer>