<header class="header">
  <div class="big-container">
    <nav class="header__nav">
      <a class="logo header__logo" href="index.html">
        <img class="logo__img header__logo-img" src="images/icon/logo.svg" alt="логотип" width="79" height="63">
      </a>
      <div class="header__inner">
        <ul class="menu header__menu">
          <li class="menu__item">
            <a class="menu__link" href="cabinet.html" id="authBtn">ЛИЧНЫЙ КАБИНЕТ</a>
          </li>
          <li class="menu__item menu__dropdown">
            <button class="menu__link menu__dropdown-btn" type="button">О НАС</button>
            <ul class="menu__dropdown-items">
              <li class="menu__dropdown-item">
                <a class="menu__dropdown-link" href="products-page.html">Услуги и цены</a>
              </li>
              <li class="menu__dropdown-item">
                <a class="menu__dropdown-link" href="collective.html">Коллектив</a>
              </li>
              <li class="menu__dropdown-item">
                <a class="menu__dropdown-link" href="history.html">История компании</a>
              </li>
            </ul>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="news.html">НОВОСТИ И АКЦИИ</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="contacts-page.html">КОНТАКТЫ</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="blog.html">БЛОГ</a>
          </li>
        </ul>
        <button class="header__menu-close" type="button"></button>
      </div>
      <button class="header__btn" id="cityBtn">
        <svg width="20" height="29">
          <use xlink:href="images/sprite.svg#location"></use>
        </svg> 
        <span class="header__btn-name">ВОЛГОГРАД</span>
      </button>
      <button class="header__menu-open" type="button">
        <span></span>
      </button>
    </nav>
  </div>
</header>